<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div>
    <head>
        <meta charset="UTF-8">
        <title>Welcome back! </title>
    </head>
    <body style="background-color: darkcyan;">
    <center>
        <div style="display:inline;">
            <span style='font-size:100px; color: #e6ccff;'>&#9640;</span>
            <span style='font-size:100px;'>&#9640;</span>
            <span style='font-size:100px; color: #e6ccff;'>&#9640;</span>
            <span style='font-size:100px;'>&#9640;</span>
            <span style='font-size:100px; color: #e6ccff;'>&#9640;</span>
            <span style='font-size:100px;'>&#9640;</span>
            <span style='font-size:100px; color: #e6ccff;'>&#9640;</span>
        </div>
        <h1 style="margin-top: 50px;">
            Welcome back!
        </h1>
        <button style="padding: 10px;margin: 10px; margin-top: 100px" name="start"  value="start" type="button" onClick="window.location='home.html';" formaction="/welcome">START</button>
    </center>
    </body>
</div>
</html>